.padding-left-0{
	padding-left:0px !important;
}
.padding-right-0{
	padding-right:0px !important;
}
.margin-left-10{
	margin-left: 10px;
}


.panel .panel-body {
    padding: 25px !important;
}
.padding-25{
	padding:25px;
}